<a href="https://colab.research.google.com/github/brendanpshea/data-science/blob/main/Data_Science_04_Nightingale_at_War.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Communicating With Stakeholders
## Brendan Shea, PhD

In the intricate world of data science, numbers and graphs often take center stage. But behind these numerical representations lies a crucial and often overlooked component: communication. Whether you're a seasoned data scientist or just starting your journey, the ability to convey complex information to various stakeholders—from politicians and generals to doctors and the public—is paramount.

Why is this so important? Imagine a treasure trove of data that holds the key to solving a pressing problem. This data, no matter how valuable, becomes a mere collection of numbers if it cannot be translated into actionable insights. It's like having a beautiful piece of music written in a language that no one can understand. The melody, the rhythm, the essence remains locked away, inaccessible.

This chapter will guide you through the fascinating intersection of data science and communication, using the historical backdrop of Florence Nightingale's groundbreaking work during the Crimean War. Nightingale, often considered a pioneer in the field, understood that data alone was not enough. She leveraged her analytical insights to advocate for changes, to influence decisions, and to save lives. Her ability to communicate with various stakeholders turned numbers into narratives and statistics into strategies.

Through exploring Nightingale's work, you will delve into the nuances of exploratory data analysis, uncover surprising aspects of data, navigate biases and heuristics, choose effective visualizations, and construct compelling reports and dashboards. Along the way, you'll assume the role of a junior data scientist, facing the challenges and responsibilities of communicating complex data to a diverse audience.

But this chapter is not merely a historical excursion. The lessons learned here resonate with the very core of modern data science. In an age where data drives decisions, the ability to communicate, to tell the story behind the numbers, is a skill as vital as any algorithm or statistical model.

So, ready your analytical mind, but also prepare to engage your communicative skills. The adventure that awaits is not just about understanding data; it's about making it understood. Welcome to the world where data speaks, and where you, the data scientist, become its voice.

## Case Study: Nightingale in Crimea

Data Science is the field of study that involves extracting insights from complex and unstructured data. It uses various techniques from statistics, machine learning, and computer science to interpret, manage, and analyze large amounts of data to assist in decision-making.  Historically, the roots of data science can be traced back to the early 20th century. However, it became more prominent with the advent of computers and digital data. The ability to process large amounts of information allowed researchers and businesses to detect patterns and make more informed decisions.

Florence Nightingale, though primarily known as a pioneering nurse and social reformer, had a significant impact on the field of statistics and data visualization. Her innovative use of statistical graphics played a crucial role in changing public perceptions and influencing policy decisions. Here's her story:

### Who Was Florence Nightingale?

Florence Nightingale was born on 12 May 1820 in Florence, Tuscany, Italy, and was named after the city of her birth. She belonged to a wealthy and well-connected British family. Her parents were liberal-humanitarian thinkers, and her father personally educated her, fostering her analytical abilities from a young age.  Young Florence and her older sister were exposed to an advanced education, studying subjects such as history, mathematics, Italian, classical literature, and philosophy. Florence's ability to collect and analyze data was evident early on.

In February 1837, Nightingale believed she experienced a call from God, sparking a strong desire to serve others. Despite her family's opposition, she announced her decision to enter the field of nursing in 1844, rejecting the conventional role of women in her status. Her determination led her to travel to Germany to receive medical training at the Lutheran religious community at Kaiserswerth-am-Rhein, forming the basis for her later care. She also took the post of superintendent at the Institute for the Care of Sick Gentlewomen in Upper Harley Street, London, in 1853.

Nightingale's most celebrated contributions occurred during the Crimean War. Appalled by the conditions for the wounded soldiers at Scutari's military hospital, she led a team of 38 women volunteer nurses and 15 Catholic nuns to the Ottoman Empire in 1854. We'll talk more about what she did here later in this chapter. Known as "The Lady with the Lamp," Nightingale made rounds of wounded soldiers at night, improving hygiene and living standards, and significantly reducing death rates. Her work laid the foundation of professional nursing with the establishment of her nursing school at St Thomas' Hospital in London in 1860.

### How Did Florence Nightingale Influence Data Science?

Nightingale's role in data science is often overlooked, but her innovations in this field were groundbreaking. She was a pioneer in statistics, utilizing graphical forms to make data more comprehensible. One of her most famous contributions is the **polar area diagram**, also known as the **Nightingale rose diagram**. It's equivalent to a modern **circular histogram** and is still regularly used in data visualization. Her usage of this diagram helped in drawing actionable conclusions from the data.

Nightingale's statistical work extended beyond mere visualization. She used data to advocate for social reforms, including healthcare for all sections of British society, better hunger relief in India, and expanding acceptable forms of female participation in the workforce. Her ability to translate complex data into understandable insights made her a pioneer in infographics. She also wrote tracts in simple English, spreading medical knowledge to those with poor literary skills.

Florence Nightingale's legacy extends beyond her profound impact on nursing and healthcare. She was a visionary in the field of data science, utilizing statistics and data visualization to drive social change. Her innovative use of data continues to inspire modern data scientists, and her life serves as a testament to the power of data in shaping our world. Her birthday, May 12th, is celebrated as International Nurses Day, but perhaps it should also be a celebration of her unique contribution to the field of data science.

### The Crimea Conundrum
In the heart of the Crimean War (1853-1856), a conflict fought between the Russian Empire and an alliance that included the British Empire, there was a pressing need to address the dire healthcare conditions faced by wounded soldiers. Nearly 25% of British soldiers died, mostly of disease. This is much, much higher than the rate in modern wars (for example, in Vietnam, less than 3% of US Soldiers died). This led to public outcry for something to be done.

It was within this turbulent environment that Florence Nightingale, a nurse known as the "Lady with the Lamp," made a lasting impact. Her work was not only confined to the immediate care of soldiers; it extended into the domains of data collection, analysis, and communication.

The healthcare crisis during the Crimean War was characterized by overcrowded hospitals, unsanitary conditions, and a lack of medical supplies. The mortality rate was alarmingly high, and the medical establishment seemed ill-prepared to deal with the situation. Nightingale's role was akin to that of a modern data scientist, observing patterns, collecting data, and analyzing it to understand underlying issues. But what truly set her apart was her ability to communicate her findings to various stakeholders.

Consider the stakeholder relationships Nightingale had to navigate:

1.  Politicians: She had to articulate the urgent need for reform and funding, translating her observations and statistical data into compelling arguments that politicians could understand and act upon.
2.  Generals and Military Officials: Nightingale needed to convey the strategic importance of proper medical care for the troops. By showcasing data on mortality and disease spread, she influenced military decisions, emphasizing the need for sanitation and proper medical facilities.
3.  Other Healthcare Workers: She provided guidance, training, and support to other nurses and medical staff, communicating best practices and ensuring that they were aligned with her vision of improved care.
4.  The Public: Nightingale's writings and reports reached the general populace, raising awareness about the conditions of the war and the need for reform. Her ability to communicate with clarity and conviction galvanized public opinion.

Florence Nightingale's work in the Crimean War is a vivid example of how data, when collected, analyzed, and communicated effectively, can lead to profound changes in policy and practice. Her ability to engage with various stakeholders through clear and persuasive communication created a ripple effect, leading to reforms not only during the war but also in the broader field of healthcare and nursing. Her story serves as a timeless lesson for data scientists and professionals, emphasizing the importance of not just understanding data but also communicating it in a way that resonates with different audiences and leads to meaningful action.


### Your Job: Junior Data Scientist
For the rest of this chapter, we're going to assume the role of a "Junior Data Scentist" working on Nightingale's team. This job will require a blend of technical acumen, analytical thinking, and, most importantly, adept communication skills to engage with various stakeholders. Here's what your role will entail:

1. **Data Collection and Analysis:**  As a junior data scientist, you would help gather accurate data on the conditions in the field hospitals, including mortality rates, the spread of diseases, availability of medical supplies, and the overall sanitation. For this chapter, we're going to assume that this data has already been gathered, and instead use the `Nightingale` data set. Analyzing this data, you'll identify trends, patterns, and areas of concern. But the technical aspect is just the beginning.

2. **Translating Data into Insights:** This is where your role as a communicator comes into play. You'll need to translate complex data and statistical findings into insights that can be understood by different stakeholders. Think of this as transforming a technical report filled with numbers and graphs into a compelling story that resonates with politicians, military officials, healthcare workers, and the general public.

3. **Collaborative Decision Making:**  Your role will also involve working closely with Nightingale and other team members to develop action plans based on the data insights. This collaborative decision-making process will require clear and persuasive communication, ensuring that everyone is aligned and understands the objectives.

4. **Monitoring and Feedback:** Finally, you'll need to set up systems to track the progress of the implemented changes, providing regular updates to stakeholders. This continuous feedback loop will not only demonstrate the impact of the decisions but also allow for timely adjustments.

## Loading the Data Set
The dataset we're working with is closely tied to Florence Nightingale's pioneering efforts during the Crimean War. It represents a collection of observations and statistics that Nightingale herself might have gathered or used. The data could include information about the number of wounded soldiers, mortality rates, diseases, sanitary conditions, and other relevant medical and logistical details.

We'll begin by loading the dataset into a DataFrame, which is a two-dimensional, size-mutable, and heterogeneous tabular data structure with labeled axes. Think of it as a virtual spreadsheet where you can perform various operations. Here's how we do it:

In [ ]:
!pip install pydataset -q # Install required packages
from pydataset import data # Import required modules
import pandas as pd

In [2]:
 # Load nightingale data
crimea_df = data('Nightingale')
crimea_df

,Date,Month,Year,Army,Disease,Wounds,Other,Disease.rate,Wounds.rate,Other.rate
1,1854-04-01,Apr,1854,8571,1,0,5,1.4,0.0,7.0
2,1854-05-01,May,1854,23333,12,0,9,6.2,0.0,4.6
3,1854-06-01,Jun,1854,28333,11,0,6,4.7,0.0,2.5
4,1854-07-01,Jul,1854,28722,359,0,23,150.0,0.0,9.6
5,1854-08-01,Aug,1854,30246,828,1,30,328.5,0.4,11.9
6,1854-09-01,Sep,1854,30290,788,81,70,312.2,32.1,27.7
7,1854-10-01,Oct,1854,30643,503,132,128,197.0,51.7,50.1
8,1854-11-01,Nov,1854,29736,844,287,106,340.6,115.8,42.8
9,1854-12-01,Dec,1854,32779,1725,114,131,631.5,41.7,48.0
10,1855-01-01,Jan,1855,32393,2761,83,324,1022.8,30.7,120.0
11,1855-02-01,Feb,1855,30919,2120,42,361,822.8,16.3,140.1
12,1855-03-01,Mar,1855,30107,1205,32,172,480.3,12.8,68.6
13,1855-04-01,Apr,1855,32252,477,48,57,177.5,17.9,21.2
14,1855-05-01,May,1855,35473,508,49,37,171.8,16.6,12.5
15,1855-06-01,Jun,1855,38863,802,209,31,247.6,64.5,9.6
16,1855-07-01,Jul,1855,42647,382,134,33,107.5,37.7,9.3
17,1855-08-01,Aug,1855,44614,483,164,25,129.9,44.1,6.7
18,1855-09-01,Sep,1855,47751,189,276,20,47.5,69.4,5.0
19,1855-10-01,Oct,1855,46852,128,53,18,32.8,13.6,4.6
20,1855-11-01,Nov,1855,37853,178,33,32,56.4,10.5,10.1
21,1855-12-01,Dec,1855,43217,91,18,28,25.3,5.0,7.8
22,1856-01-01,Jan,1856,44212,42,2,48,11.4,0.5,13.0
23,1856-02-01,Feb,1856,43485,24,0,19,6.6,0.0,5.2
24,1856-03-01,Mar,1856,46140,15,0,35,3.9,0.0,9.1

The `crimea_df` DataFrame gives us a snapshot of the medical conditions during the Crimean War, structured in the following way:

1.  `Date:` The date of observation, showing the month and year.
2.  `Month:` The specific month of observation.
3.  `Year:` The year of observation.
4.  `Army:` The size of the British army (estimated) during that month.
5.  `Disease:` The number of monthly deaths related to diseases.
6.  `Wounds:` The number of monthly deaths related to battle wounds.
7.  `Other:` The number of monthly deaths related to other non-specified issues.
8.  `Disease.rate:` The annual rate of disease deaths per 1000 soldiers (during some months, the rate suggests that disease is killing them faster than they arrive).
9.  `Wounds.rate:` The annual rate of wound deaths, per 1000 soldiers.
10. `Other.rate:` The annual rate of deahts from other causes, per 1000 soldiers.

This dataset provides a rich and detailed view of the health conditions in the army during the Crimean War. It allows us to explore various facets of medical care, hygiene, and the challenges faced in a military environment.

By studying this dataset, you're following in the footsteps of Florence Nightingale. You'll be analyzing the same types of information that she would have used to understand the pressing healthcare needs of the time. From assessing the impact of diseases to understanding how wounds and other medical issues affected soldiers, you'll be diving into the very core of what made Nightingale's work so revolutionary.

As you explore further, consider the context of the time: medical knowledge was limited, sanitation was often poor, and the understanding of disease transmission was in its infancy. This dataset offers a window into a critical period in medical history, and your analysis will help you appreciate the complexity and significance of Nightingale's contributions.

In the following sections, you'll engage with this data, uncover insights, and learn how to communicate these findings to various stakeholders, just as Nightingale did. Her ability to turn data into action changed the course of healthcare, and now you have the opportunity to explore how she achieved this remarkable feat.

## Exploratory Data Analysis
Exploratory Data Analysis (EDA) is like taking the first close look at a new landscape. It's about uncovering the main features, identifying patterns, and detecting anything unusual or unexpected. In the context of the Crimean War, what might have been surprising to generals, politicians, doctors, or the general public? Let's explore.

###  Understanding the Overall Health Conditions:
First, we want to get a sense of the overall health conditions by looking at the number of deaths related to diseases, wounds, and other issues over time.